*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}


body{
    background-color: #1f1f1f;
    color: aliceblue;
}

header{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 1rem;
    background-color: #0A0A0A;
    z-index: 20;
}

.logo-header{
    display: flex;
    align-items: center;
    margin-top: -5rem;
}

.logo-header #logoImage{
    margin-bottom: -10rem;
}


main{
    display: flex;
    margin-top: 2rem;
}

nav {
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0A0A0A;
    border-radius: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav ul li{
    list-style-type: none;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: -2rem;
}


.nav-item{
text-decoration: none;
font-size: larger;
font-weight: bold;
color: aliceblue;
}

.nav-item:hover{
    color: #623370;
}

a{
    text-decoration: none;
}

#description{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#pDescription{
    display: flex;
    text-align: right;
    flex-wrap: wrap;
}